.gradient {
  background: rgb(91, 83, 249);
  background: linear-gradient(
    90deg,
    rgba(91, 83, 249, 1) 0%,
    rgba(168, 111, 216, 1) 45%,
    rgba(255, 142, 87, 1) 100%
  );
}

.b-radius {
  border-radius: 31% 32% 30% 32% / 19% 17% 18% 16%;
}

.backgroundcolor {
  background-color: rgb(54, 18, 54);
}
